body{
    background-image:url(bg.jpg) ;
    background-size: cover;
    background-blend-mode:saturation;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(15px);

display: flex;
justify-content: center;
align-items: center;
min-height:400px;
}
#citySearch{
    width: 25vw;
    height:5vh;
border-radius: 10px;
margin-left: 10px;
border: none;
color: rgb(255, 255, 255);
background-color:  rgb(168, 183, 197);
 font-size: 20px;
}

#main{

    z-index: 1;
    border: black 1px solid;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(27, 27, 50), rgb(212, 207, 207)
    );
}

#searching{
    border-radius: 20px;
    background-color: rgb(168, 183, 197);
    backdrop-filter: blur(15px);    
   
}

#icon{
      background-color: rgb(168, 183, 197);
      border: none;
          border-radius: 10px;
         color: white;
          height:5vh;  
}


#h3{
font-size: 40px;
    color: white;
}

#para{
    color: white;

}

#main2{
    text-align: center;
}


.main3Div{

    display: flex;
    gap: 140px;
    font-size: 30px;
    color: rgb(233, 228, 228);
}

.main4Div{

    display: flex;
    gap: 60px;
    align-items: center;
    font-size: 36px;
    color: white;
}

.mainChild4{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mainChild5{
    display: flex;
    flex-direction: column;
    
    color: white;
}

.mainChild25{
    display: flex;
    flex-direction: column;
    
    color: white;
}

.main5Div{
    display: flex;
    gap: 250px;
    align-items: center;
}

#mainmain{
    text-align: center;
}

.material-symbols{
display: flex;
flex-direction: column;
}

