body{
    min-width: 250px;
   scroll-behavior: smooth;
margin:0;
padding:0;
    background-image: radial-gradient(rgb(255, 255, 255),rgb(80, 72, 196));

}

#titleh1{
    background-color: rgb(10, 10, 74);
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    width:100% ;
    position: fixed;
    top: 0;
          box-sizing: border-box;
      


}

#teamNames{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100% ;
    height: auto;
    align-items: center;
    gap: clamp(1rem,5vw,4rem);
    margin: 0;
      box-sizing: border-box;
      font-size: 1.5em;
   flex-wrap: wrap;
   position: fixed;
    top: 100px;
}

.people{
     max-width: 100%;
  height: auto;
    min-width: 0;

overflow: hidden;

    border: 2px solid navy;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(143, 174, 164);
    border-radius: 10px;
    align-items: center;
    gap: 1rem;
    color: rgb(23, 23, 44);
    padding: 1rem;
}

.people img{
    border: 2px solid blue;
    border-radius: 100px;
}
.name{
    font-weight: bold;
    font-size: 2rem;
}
footer{
    background-color:rgb(10, 10, 74);
    color: white;
    text-align: center;
    margin-top:1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: auto;
      padding-top: 200px; /* header + teamNames height */
  padding-bottom: 100px; /* footer space */

}

#joeCoder{
    margin-top: 2rem;
}

@media screen and (min-width:748px) {
    #teamNames{
        display: none;
    }
   #main{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
   }
 
   .name{
    order: -1;
   }
}

