body{
    background-image: url("imagimagpng.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-family: system-ui, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    text-align:center;
   /*  margin-top:90px; */
    color:white;
    border: 2px ridge white;
    margin-left:350px;
    margin-right:350px;
    padding:3px;
    background-color: black;
}
p{
    background-color:white;
    width:200px;
    height:200px;
    text-align: center;
    margin-left:400px;
    margin-right:200px;
    margin-top:80px;
    margin-bottom:100px;
    
}
button{
    background-color: black;
    color:white;
    text-align: center;
     margin-left:  460px;
    margin-right:450px;
    position: absolute;
    bottom:170px;
}
button:active{
    background-color: lightblue;

}