
body{ background: linear-gradient(
    to bottom, 
     blue 0%,
    blue 50%,
    black 50%,
    black 100%) ;
    justify-content: center;
    align-items: center;
    display: flex;
      height: 100vh;
      margin: 0;
}



#main{
    color:white;
    background-color: rgb(37, 35, 35);
    text-align: center;
    padding: 100px;
    font-size: 30px;
}
#key{
    font-size:35px;
}

#key{
    color:blue;
    font-size:40px
}

#keyWord{
    font-style: italic;
}

#section{
    display:none;
}