body{

    background: linear-gradient(to right, #1e1b2e 0%,
    #1e1b2e 50%,
    #a29d9d 50%,
    #d0cccc 100%);

    display: flex;
       justify-content: center;
    align-items: center;
    min-height: 100vh;


}

#main{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    height: 300px;
    align-items: center;
    width: 60vw;
}
#main input{
margin-top: 10px;
    margin-left: 40px;
    width: 35vw;
    height: 4vh;
}

#main  button{
    margin-left: 30px;
    width: 10vw;
    height: 4vh;
    cursor: pointer;
    background-color: #1e1b2e;
    color: white;
}

#mainText{
margin-left: 10px;
line-height: 26px;
    margin-top: 20px;
}

.active{

    background-color: yellow;
}