body{
    background-color:white;
    justify-content: center;
    align-items: center;
  

}

#title{
    background-color: rgb(247, 5, 146);
    color: white;
    height: 180px;
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    
  
}

#gen{
    background-color: rgb(247, 5, 146);;
    color: white;
    border: none;
      height: 40px;
    width: 80px;
        border-radius: 10px;
            padding: 5px;


}
#copy{
    background-color: rgb(247, 5, 146);
    color: white;
    border: none;
    height: 40px;
    width: 80px;
        border-radius: 10px;
            padding: 5px;


}
#buttons{
    text-align: center;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 650px;
    margin-top: 30px;
   
}
#inputNum{
    width: 35px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
}

#para{
font-size: 20px;

font-family:Arial, Helvetica, sans-serif;}

