*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
background-color: wheat;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
gap:2rem;
flex-direction: column;
}

.main{
    margin-top: 0;
    padding: 2rem;
    text-align: center;
    max-width:18rem;
    border:none;
    width:100%;
    font-size: 1.5rem;
    cursor: pointer;
    min-width:1rem;
    overflow:hidden ;
    max-height: 10rem;
 

}

.wavy-border{
   z-index: 11;
    border:none;
     clip-path: polygon(
    0% 10%, 10% 0%, 20% 10%, 30% 0%,
    40% 10%, 50% 0%, 60% 10%, 70% 0%,
    80% 10%, 90% 0%, 100% 10%,
    100% 90%, 90% 100%, 80% 90%, 70% 100%,
    60% 90%, 50% 100%, 40% 90%, 30% 100%,
    20% 90%, 10% 100%, 0% 90%
  );
  background-color: rgb(1, 1, 1);
  color: wheat;
  


}

.round-border{
    border-radius: 10px;
    background-color: rgba(53, 143, 153, 0.601);
}

.quoteGen{

text-align: center;
background-color:rgb(163, 159, 196);
padding:1rem;
border-radius:2rem;
font-size:1.2em;
}
 
.newJokesTime{
   background-color:rgb(163, 159, 196);
   display: flex;
   justify-content: center;
   align-items: center;
   
    padding:1rem;
border-radius:2rem;
font-size:1.2em;
height:7rem;
}
.newRiddlesTime{
     background-color:rgb(163, 159, 196);
    text-align: center;
    padding:1rem;
border-radius:2rem;
font-size:1.5em;
margin-bottom:0px;
max-height:15rem;
}

.extraCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.newBtnRiddle{
    max-height:5em;
    min-width:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: black;
    color: wheat;
    padding: 2rem;
    font-size: 1rem;
}


#closed{
background-color: rgb(217, 107, 107);
    margin:1rem;
   margin-top:1rem;
    padding:0.78rem;
    cursor: pointer;
}



.memesNewImg{
    border-radius: 10px;

}

