 body{
    background-image: url(trees-dark-forest-central-europe-lush-wild-nature-169539436.webp);
} 
 
#idid{
    color:white;
    border:3px ridge white;
    text-align: center;
 padding: 3px 6px; 
  border-radius: 8px;
  display: inline-block;
  margin-top: 350px;
  margin-left:100px;

}
#idid:active{
    background-color:white;
    color:black;
}

#div {
    background-color: white;
   
    padding: 10px;
 
   margin:200px;
    position: absolute;
    border-radius: 10px;
    display: none;
    justify-content: center;
    text-align: center;
 top: -200px;
  left: 35%;
 margin-right:300px;
  transition: top 0.1s ease;
    transform: translate(-50%, -50%);
      align-items: center;  
}

#pa:hover{
color:red;
}