input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
    

}

#main{
     width:400px;
    height:290px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
   box-shadow: 0px 0px 100px black;
   padding-top: 55px;
    margin-top:180px;
    text-align: center;

}

#Guess{
border: none;
background-color: blue;
color:white;
width: 80px;
height:40px;
border-radius: 10px;

}

#number{
    border-color: blue;
    width: 80px;
height:40px;
text-align: center;
font-size: 20px;
border-radius: 10px;
}
#text{
    color:rgb(79, 73, 73);
}

#restart{
    color:white;
    background-color: blue;
   border: none;
   width: 80px;
height:40px;
border-radius: 10px;
margin-bottom: 40px;
}
#secondOne{
    display: none;
}

#texty{
    background-color: green;
    padding: 30px;
}