 /*Reset*/

 *{
    margin:0;
    padding: 0;
box-sizing: border-box;
 }


 /*general styles*/
 
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50em;
 }

main{
    display: grid;
    grid-template-rows: repeat(3,20vw);
    gap: 2rem;
    perspective: 600px;
 }


 .boxes{
 border: 3px solid black;
    padding: 5rem;
    font-size: 3em;
      border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;

 }
 .boxes:hover{
    background-color: rebeccapurple;
        transition: all  2 0.2s;

 }

 .box1{
    background-color: blue;
  

}
 .box2{
    background-color: rgb(26, 222, 19);
      

 }
 .box3{
    background-color: rgb(234, 22, 146);
  

 }

.box1{

    animation-name: wiggle;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
animation-direction: normal;
}
.box2{

    animation-name: wiggle;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
animation-direction: normal;
}
.box3{

    animation-name: wiggle;
    animation-duration: 2s;
    animation-delay: 9s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
animation-direction: normal;
}
main{

    animation-name: wiggle;
    animation-duration: 2s;
    animation-delay: 13s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
animation-direction: normal;
}


@keyframes wiggle {
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(180px) rotate(90deg);
    }
    66%{
        transform: translateX(-180px) rotate(-90deg);

    }
    100%{
        transform: translateX(0);
    }
  
}
