@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  
scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background: linear-gradient(to bottom, rgb(205, 118, 11),white);
   min-height: 100vh;}

   .container{
     border-left:1px solid black;
    border-right:1px solid black;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10px;
   margin: 0 auto;
   max-width: 800px;
 
     }

     .header__title{
         width: 100%;
         max-width: 800px;
        position: fixed;
        top:0;
        background-color: black;
        color: white;
        text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
     }

     .header__div{
        max-width: 800px;
         width: 100%;
        background-color: white;
        display: grid;
        grid-auto-flow: column;
        padding-left: 4%;
   position: fixed;
         top:40px;
     } 

   #section__img{
      padding-top: 3rem;
       max-width: 100%;
       height: auto;
       display: block;
     } 

     a:any-link{
        color: black;
     }

     
     .footer{
        bottom: 0;
          width: 100%;
         max-width: 800px;
        
        background-color: black;
        color: white;
        text-align: center;
        padding:3px;
    margin: top 1rem; 
     border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

     #alil{
        text-align: center;
 
     }

     main{
       text-align: justify;
       padding-left: 1rem;
     }
       a:hover,
     a:focus{
      opacity: 0.6;
     }

     
/*color preference*/

@media (prefers-color-scheme: dark){

   body{
      background: linear-gradient(to bottom, black, rgb(85, 83, 83));
   }

.header__div{
   background-color: black;
   color: white;
}

.main__animation{
   color: gray;
}

.footer{
   color: whitesmoke;
}
.sec__title{
color: white;
}
.container{
   border-color: whitesmoke;
}
.main__table,th,td{
   outline-color: whitesmoke;
}
a:any-link{
    color: whitesmoke;
  }
}









   