body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(close-up-open-book-table_1048944-17437601.avif) center/cover no-repeat  fixed;

}

#div{
    background-color: white;
    color:black;
padding-left:20px;
padding-right:20px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 10px;
height:20px;

}

#para {
    border: 1px solid black;
    border-radius: 10px;
    color:black;
    padding: 5px;
display: inline;
padding-right: 200px;


}

#plus{
    border: 1px solid green;
    border-radius: 10px;
    color:black;
    padding: 5px;
    display: inline;
    padding-left: 30px;
    padding-right: 30px;

}
#plus:hover{
    background-color: green;
    color:white;
}

.classList{

    border: 1px solid black;
    border-radius: 10px;
    color:black;
    padding: 10px;
padding-right: 200px;
margin:30px;
height:40px;
background-color: white;
font-family:monospace;
font-weight: bold;
font-size: 20px;
padding-left:20px;
padding-top:20px;
}

.btnCheck{
    border: 1px solid rgb(150, 150, 45);
    color:rgb(150, 150, 45);
     width:50px;
    height:40px;
    position: absolute;
    margin-left:95px;
}
.btnRemove{
    color:red;
    border: 1px solid red;
    width:50px;
    height:40px;
     position: absolute;
    margin-left:150px;
}

.btnCheck:hover{
    background-color: rgb(150, 150, 45);
    color:white;
}
.btnRemove:hover{
    background-color: red;
    color:white;
}