 
#inputs input{
margin: 20px;
width: 100px;
height: 50px;
font-size: 50px;
}



#operators button{
    width: 50px;
    height: 50px;
    background-color: pink;
   margin: 10px;
   font-size: 30px;
}
#result{
    background-color: rgb(212, 26, 26);
    padding:50px;
    margin-top: 400px;
    position: absolute;
    font-size: 40px;


} 